################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EventbriteNETConsoleTest/obj/Debug
/.vs/EventbriteNET/v15
/EventbriteNET/obj/Debug
